

html
{
  /*-font-smoothing: antialiased;*/
  	height: 100%;
	background: white;
	/*background: radial-gradient(circle, #fff 30%, #ccc);*/
	background-size: cover;
}


*, 
*:before, 
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
	adding: 0;}
*
{
	font-family:  helvetica, arial, Serif, sans-serif;
	box-sizing: border-box;
	margin:0;
	padding:0;
}
li, li a, a:visited
{
	list-style-type: none;
	text-decoration: none;
	color: #555555;
}

/*-----------input---------------------*/
{
	background-color:rgb(67, 137, 137);
	border:0px;
	color: black; 
}
nav a:hover, div a:hover
{
	color: orange;
}

li, li a, a:visited, a
{
	list-style-type: none;
	text-decoration: none;
	color: black;
}

p, li, 
{
	font-family: helvetica;
}
header
{
	display: flex;
	justify-content: space-between;
	align-items:center;
	background-color: #FE3600;
	margin: 0%;
	border: 1px solid black;
}
footer
{
	display:flex;
     justify-content: center;
     flex-direction:row; 
     align-items:center;
    width: 100%;
    background-color: #ed3300;
    padding: 5% 0 10% 0%;
    margin: 25px 0 0 0;
    border: 1px solid black;
    /*border: 1px solid blue;		*/
}

body
{
	background-color: #eceff1;
}
#corpdepage
{
	display: flex;
	flex-direction:column;
	flex-wrap: no-wrap;
	justify-content: space-around;
	height: 600px;
	
	
}
#corpdepage a
{
	margin-left: 25%;
	margin-right: 25%;
	padding-bottom: 10px;
	font-size: 1.3em;
	font-weight: bolder;
	background-color: #FE3600;
	border: 1px solid black;
	padding: 2px 0 0 25px;
}
#corpdepage p 
{
	margin-left:10%;
	font-size: 1.3em;
	font-weight: bolder;
}

#corp
{
	display: flex;
	flex-direction:column;
	flex-wrap: wrap;
	justify-content: space-around;
	height: 700px;
	padding: px;
	/*border: 1px solid black;*/
	/*overflow: scroll;*/
}
#corp p 
{
	margin-left: 10%;
	margin-bottom: 10px;
	font-size: 1.3em;
}
#corp h1
{
	margin-left: 5%;
}
#corp a 
{
	font-weight: bolder;
}
.txt 
{
	padding-right: 100px;
	font-size: 1.5em;
	font-color:white;
}
.acc 
{
    padding-right: 100px;
	font-size: 1.5em;
	font-color:white;	
}
.accc
{
	padding-left: 600px;
	font-size: 1.5em;
	font-color:white;	
}